header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;

  ul.Header-navLinksList {
    li {
      display: inline-block;
      padding: 5px;
      background-color: $color-baseForeground;

      a {
        color: lightskyblue;
        text-decoration: none;

        &:visited {
          color: gray;
        }
      }

      .RRActiveLink {
        color: gray;
      }
    }
  }

}
