@import './variables/_index.scss';
@import './components/_index.scss';
@import './utils/_index.scss';


body {
  background-color: $color-baseBackground;
  background-image: url('./img/nBack-icon.png');
  background-repeat:no-repeat;
  background-position:right bottom;
  background-size: 200px;
}

main.mainSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;

  .mainSection-wrapper {
    width: 600px;
  }

  .mainSection-container {
    padding: 10px;
    border-radius: 10px;
    color: $color-baseText;
    background-color: $color-baseForeground;
  }
}
